/*for tablet*/
@media all and (max-width: 760px) {
    /*main*/
    .container {
        width: 100%;
    }
    /*sudoku map*/
    .wr-navbar {
        width: 98%;
    }
    .username-wr {
        width: 100px;
    }   
}
    
/* Untuk smartphones */
@media all and (max-width: 600px) {
    /*main*/
    .container {
        width: 100%;
    }
    /*sudoku map*/
    .wr-navbar {
        width: 98%;
    }
    .name-game {
        width: 150px;
    }
    .username-wr {
        width: 100px;
    }
}