* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
h1, h2, h3, h4, h5, h6,
p, span, button {
    font-family: 'Chelsea Market', cursive;   
}
/*index*/
.wr-body {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    position: fixed;
}
.wr-body .container {
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-top: 50px;
}
.container .logo {
    margin: auto;
    text-align: center;
    width: 320px;
    margin-bottom: 30px;
}
.logo h1 {
    font-size: 30px;
}
h1 span {
    color: orange;
}
.btn-games {
    margin: auto;
    width: 320px;
}
.btn-games .game-btn {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: orange;
    font-size: 18px;
    font-family: 'Chelsea Market', cursive; 
}
.game-btn:hover {background-color: rgb(255, 196, 0);
}

/*HALAMAN SUDOKU*/
.container-cn {
    margin: auto;
    padding-top: 100px;
}
/*Box*/
.wr-box {
    width: 300px;
    height: 300px;
    padding-left: 4px;
    padding-top: 2px;
    float: left;
    background-color: gray;
    text-align: center;
    box-sizing: border-box;
}
.boxed {
    width: 11%;
    height: 11%;
    float: left;
}
.box {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #ffffff;
    color: black;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}
/*Tutor*/
.tutor {
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background-color: blue;
}
.tutor-cn {
    margin: auto;
    width: 400px;
    height: 550px;background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    padding-top: 2px;
}
.btnback {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(61, 61, 61);
}
.btnback:hover {
    background-color: gray;
}
.tutor-cn h2 {
    font-size: 24px;
}
.tutor-cn span {
    font-size: 30px;
    color: orange;
}
.poto-tutor {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 250px;
    background-color: #f3f3f3;
    text-align: left;
}
.info-level {
    margin: auto;
    width: 90%;
}
.inp {
    width: 100%;
    float: left;
    height: 50px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid green;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}
.start {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    background-color:  green;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    color: #f3f3f3;
    letter-spacing: 2px;
}
.start:hover {
    background-color:  rgb(5, 187, 5);
}



/* Navbara*/
.nav-bar {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}
.wr-navbar {
    width: 80%;
    height: 100%;
    margin: auto;
}
.nav-bar .logo-sudo {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
}
.logo-sudo img {
    height: 40px;
}
.name-game {
    float: left;
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}
.usr-lvl {
    height: 20px;
    width: 100%;
    font-weight: lighter;
}
.username-wr {
    float: right;
    margin-top: 10px;
    height: 50px;
    width: 200px;
}
.username {
    margin-top: 10px;
    height: 20px;
    width: 100%;
    font-weight: normal;
}
.heart-wr {
    height: 30px;
    margin-top: 10px;
}
.heart {
    float: left;
    height: 20px;
    background-color: #ffffff;
}
.heart-vl {
    float: left;
    margin-left: 10px;
}



/*enden*/
.ended {
    height: 100%;
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background-color: blue;
}
.ended-wr {
    margin: auto;
    width: 400px;
    background-color: #f3f3f3;
    margin-top: 200px;
    border-radius: 5px;
    padding-top: 40px;
}
.dis-end {
    width: 80%;
    height: 70px;
    margin: auto;
    padding-top: 30px;
}
.btn-end {
    width: 80%;
    height: 50px;
    margin: auto;
}
.disbtn {
    margin: auto;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: green;
    margin-top: 10px;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
}
.disbtn:hover {
    background-color: rgb(5, 187, 5);
}
.message {
    color: orangered;
}